@font-face {
        font-family:'garamond-reg-12';
        src: url(fonts/EBGaramond-0.016/ttf/EBGaramondSC12-Regular.ttf);
    }
a {color: gold;}
a:visited { text-decoration: none; color:gold; }
a:hover { text-decoration: none; color:gold; }
a:focus { text-decoration: none; color:yellow; }
a:hover, a:active { text-decoration: none; color:white }
li {
    list-style-type: none; 
}
body {
    background-image: url(images/artdeco_bg.png);
    padding-left:7%;
    padding-right:7%;
    padding-top: 4%;
    padding-bottom: 4%;
    text-align: center;
    color: white;
    font-family: Tahoma, Geneva, Verdana,;
    font-size: x-large;
}
.body{
    background-color: #181818;
    padding: 2%;
    border-radius: 25px;
}
.header,.footer{
    display: flex;
    justify-content: space-around;
}